PROJECT_DIR_NAME= # project name
GDRIVE_REMOTE_NAME= # rclone drive name
HF_TOKEN= # hugging face write token if working with datasets using provided scripts
GCP_PROJECT_ID= # google cloud project id if using a google compute engine vm
GCP_ZONE= # google compute engine vm zone
GCP_INSTANCE_NAME= # google compute engine instance name
TMP_DIR= # if you want to save mathlib traces from LeanDojo or avoid OOM errors, set this to a persistent location with > 20GB of space e.g. /home/connor/lean_tmp
RAY_TMPDIR= # same as above, e.g. /home/connor/lean_tmp/ray
CACHE_DIR= # same as above, e.g. /home/connor/.cache/lean_dojo
NUM_PROCS= # the number of procedures LeanDojo will run 
GITHUB_ACCESS_TOKEN = # github access token